header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative; /*pra poder alterar onde ela começa*/
    width: 940px; /*Tamanho decente padrão, pq as telas tem uns 1800 de largura e tal*/
    margin: 0 auto; /*Pra deixar essa largura de 940 px no centro mesmo se for uma tela maior, o auto faz o cálculo automático da margem*/
}
nav {
    position: absolute;
    top: 110px; /*O centro da divisão do cabeçalho*/
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /*Topo, Direita, Baixo, Esquerda*/
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /*Tira o sublinhado padrão do link*/
}