body {
    background: #CCCCCC;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong { /* vai aplicar o efeito em todos os strongs que estiverem dentro de uma tag <em>*/
    color: #FF0000;
}